<style> 
  input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    display: block;
    font-family: 'Arimo', sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    text-align: left;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    /* padding-right: 20px; */
    margin-bottom: 20px;
    padding-left: 2%;
  }
  .join-btn, #submit {
    float: right;
    width: 90px;
    padding: .5em 0 .5em 0;
    border-radius: 4px;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    background: #00CCCC;
    color: #ffffff;
  }
  .play-trigger {
    position: absolute;
    background: transparent url("http://d2nt7j7ljjsiah.cloudfront.net/assets/v2_buttons/gallery-button-play-lrg-da69c7fb70b0e08fdd73070a85459662.png") no-repeat 0 0;
    top: 50%;
    left: 50%;
    width: 127px;
    height: 127px;
    margin: -63px 0 0 -63px;
    text-indent: -3000px;
    z-index: 10;
  }
</style>
     

    <div class="wrapper">
       <div class="container" style="margin-top: 50px;">
          <div class="row" >
            <div class="col-lg-3" >
            </div>


            <div class="col-lg-6" style="background:#353535; opacity:.6; padding: 70px 50px;box-shadow: 0px 0px 20px #FFFFFF;">
              <div style="width: 250px; margin: 20px auto;"><img src="http://curelead.com/img/newlogo.png" height="130px;" ></div>


<%= simple_form_for @user do |f| %>
  <%= f.input :username, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'} ,:placeholder => '' %>
  <%= f.input :email, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :first_name, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :last_name, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :education, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :speciality, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :address, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :contact, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :description, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :oneliner, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :password, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.input :password_confirmation, :input_html => {:style => 'background-color: transparent; width: 100%;
        height: 48px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        display: block;
        font-family: sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: left;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0);'}, :label_html => {:style => 'color: #FFFFFF; font-weight: normal'}, :placeholder => '' %>
  <%= f.submit "Create", class: "btn btn-info" %>
<% end %>



            </div><!-- /.col-lg-4 -->
                        <div class="col-lg-3" >
            </div>

          </div>
        </div>
      </div>
    </div> <!-- /wrapper -->



